.navigation {
    background: #1e272e;

    &__list {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

    &__item {
        
        padding: 1.8rem 1.2rem;
    }

    &__link {
        display: block;
        position: relative;
        text-decoration: none;
        font-size: 2.4rem;
        // font-weight: 300;
        text-transform: uppercase;
        color: #eee;
        backface-visibility: hidden;
        transition: all .25s;

        &:hover {
            color: #ff5252;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: #ff5252;
            height: 2px;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scale(0, 1);
            transition: transform .25s;
        }

        &:hover::before {
            transform: scale(1, 1);
        }

        &--current {
            color: #ff5252;
        }
    }
}